# JetBrains
**/.idea/
**/out/
**/cmake-build-debug/
**/cmake-build-release/
**/cmake-build-wsl/
**/LeetCode

# Visual Studio & Visual Studio Code
**/.vs/
**/.vscode/
**/Debug/
**/Release/
**/x64/
**/x86/

# Executables
**/*.exe
**/*.out
**/*.a
**/*.o
**/*.obj